@function grid($start, $end, $increment) {
  $str: 0;
  @while $start <= $end {
    @if $start < $end {
      $str: $str + 0 #{$start}#{"px,"};
    }
    @if $start == $end {
      $str: $str + 0 #{$start}#{"px"};
    }
    $start: $start + $increment;
  }
  @return $str;
}
$blue: #013366;
$beige: #003dff;
$pink: #55ffa6;
$deeppink: #003dff;
$gray: #9d9d9d;
$salmon: #ff9593;
$red: #003dff;
$orange: #55ffa6;
$yellow: #003dff;
$green: #55ffa6;
$royalblue: #003dff;
$purple: #55ffa6;
.sprite {
  position: absolute;
  background: {
    position: grid(0, 125, 5);
    size: 100% 5px;
    repeat: no-repeat;
  }
}

.nyanWrapper {
  z-index: -10;
  width: 50px;
  height: 85px;
  margin-bottom: 100px;
  top: 80%;
  left: calc(50% - 20px);
  position: fixed;
}

.nyancat {
  z-index: -10;
  position: absolute;
  left: 50%;
  width: 165px;
  height: 100px;
  margin: {
    top: -50px;
    left: -82px;
    bottom: 120px;
  }
  animation: nyan 400ms step-start infinite;

  // @media(max-height: 820px) {
  //   top: 660px;
  // }

  .body {
    @extend .sprite;
    left: 35px;
    top: 0;
    width: 105px;
    height: 90px;
  }
  .head {
    @extend .sprite;
    left: 85px;
    top: 25px;
    width: 80px;
    height: 65px;
    animation: head 400ms linear infinite;
  }
  .rainbow {
    @extend .sprite;
    position: relative;
    top: 50px;
    margin-top: -35px;
    left: calc(-50vw + 20%);
    width: 50vw;
    height: 65px;
    overflow: hidden;

    @media(max-height: 820px) {
      top: 50px;
    }

    span {
      @extend .sprite;
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      height: 130px;
      background: {
        size: 80px 5px;
        repeat: repeat-x;
      }
      animation: rainbow 400ms step-start infinite;
    }
  }
  .feet {
    @extend .sprite;
    left: 20px;
    top: 75px;
    width: 120px;
    height: 25px;
    animation: feet 400ms infinite;
  }
  .tail {
    position: relative;
    width: 25px;
    height: 30px;
    overflow: hidden;
    top: 30px;
    left: 10px;
    span {
      @extend .sprite;
      width: 25px;
      height: 120px;
     animation: tail 200ms step-start infinite alternate;
    }
  }
}

.starBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1980px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -100;
}

.stars {
  position: relative;
  width: 100%;
  height: 100%;
  // animation: moveleft 1000ms linear infinite;
  .star {
    @extend .sprite;
    width: 28px;
    height: 28px;
    overflow: hidden;
    span {
      position: absolute;
      left: 0;
      width: 112px;
      height: 28px;
      background: {
        position: grid(0, 28, 2);
        size: 112px 2px;
        repeat: no-repeat;
      }
      animation: star 300ms step-start infinite alternate;
    }
  }
  @for $i from 1 through 15 {
    .star:nth-child(#{$i}) {
      top: $i * 100px;
      left: $i * 100px;
    }
  }

  @for $i from 16 through 30 {
    .star:nth-child(#{$i}) {
      top: ($i - 15) * 100px;
      left: ($i - 15) * 100 + 180px;
    }
  }

  @for $i from 31 through 45 {
    .star:nth-child(#{$i}) {
      top: ($i - 30) * 100px;
      left: ($i - 30) * 100 + 360px;
    }
  }

  @for $i from 46 through 60 {
    .star:nth-child(#{$i}) {
      top: ($i - 45) * 100px;
      left: ($i - 45) * 100 + 540px;
    }
  }

  @for $i from 61 through 75 {
    .star:nth-child(#{$i}) {
      top: ($i - 60) * 100px;
      left: ($i - 60) * 100 + 720px;
    }
  }

  @for $i from 76 through 90 {
    .star:nth-child(#{$i}) {
      top: ($i - 75) * 100px;
      left: ($i - 75) * 100 + 900px;
    }
  }

  @for $i from 91 through 105 {
    .star:nth-child(#{$i}) {
      top: ($i - 90) * 100px;
      left: ($i - 90) * 100 + 1080px;
    }
  }

  @for $i from 106 through 120 {
    .star:nth-child(#{$i}) {
      top: ($i - 105) * 100px;
      left: ($i - 105) * 100 + 1260px;
    }
  }

  @for $i from 121 through 135 {
    .star:nth-child(#{$i}) {
      top: ($i - 120) * 100px;
      left: ($i - 120) * 100 + 1440px;
    }
  }

  @for $i from 136 through 150 {
    .star:nth-child(#{$i}) {
      top: ($i - 135) * 100px;
      left: ($i - 135) * 100 + 1620px;
    }
  }

  @for $i from 151 through 165 {
    .star:nth-child(#{$i}) {
      top: ($i - 150) * 100px;
      left: ($i - 150) * 100 + 1800px;
    }
  }

  @for $i from 166 through 180 {
    .star:nth-child(#{$i}) {
      top: ($i - 165) * 100px;
      left: ($i - 165) * 100 + 1980px;
    }
  }

  @for $i from 181 through 195 {
    .star:nth-child(#{$i}) {
      top: ($i - 180) * 100px;
      left: ($i - 180) * 100 - 180px;
    }
  }

  @for $i from 196 through 210 {
    .star:nth-child(#{$i}) {
      top: ($i - 195) * 100px;
      left: ($i - 195) * 100 - 360px;
    }
  }

  @for $i from 211 through 225{
    .star:nth-child(#{$i}) {
      top: ($i - 210) * 100px;
      left: ($i - 210) * 100 - 540px;
    }
  }

  @for $i from 226 through 240{
    .star:nth-child(#{$i}) {
      top: ($i - 225) * 100px;
      left: ($i - 225) * 100 - 720px;
    }
  }

  @for $i from 241 through 255{
    .star:nth-child(#{$i}) {
      top: ($i - 240) * 100px;
      left: ($i - 240) * 100 - 900px;
    }
  }

  @for $i from 256 through 270 {
    .star:nth-child(#{$i}) {
      top: ($i - 255) * 100px;
      left: ($i - 255) * 100 - 1080px;
    }
  }

  @for $i from 271 through 295 {
    .star:nth-child(#{$i}) {
      top: ($i - 270) * 100px;
      left: ($i - 270) * 100 - 1260px;
    }
  }

  @for $i from 291 through 305 {
    .star:nth-child(#{$i}) {
      top: ($i - 290) * 100px;
      left: ($i - 290) * 100 - 1440px;
    }
  }

  @for $i from 306 through 320 {
    .star:nth-child(#{$i}) {
      top: ($i - 305) * 100px;
      left: ($i - 305) * 100 - 1620px;
    }
  }

  @for $i from 321 through 335 {
    .star:nth-child(#{$i}) {
      top: ($i - 320) * 100px;
      left: ($i - 320) * 100 - 1800px;
    }
  }

  @for $i from 336 through 350 {
    .star:nth-child(#{$i}) {
      top: ($i - 335) * 100px;
      left: ($i - 335) * 100 - 1980px;
    }
  }


}

.body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 95px, rgba(0, 0, 0, 0) 95px, rgba(0, 0, 0, 0) 105px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #003dff 10px, #003dff 95px, #000000 95px, #000000 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 20px, #55ffa6 20px, #55ffa6 85px, #003dff 85px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 15px, #55ffa6 15px, #55ffa6 30px, #003dff 30px, #003dff 40px, #55ffa6 40px, #55ffa6 90px, #003dff 90px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 25px, #003dff 25px, #003dff 35px, #55ffa6 35px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 20px, #003dff 20px, #003dff 30px, #55ffa6 30px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 15px, #003dff 15px, #003dff 55px, #55ffa6 55px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 20px, #003dff 20px, #003dff 30px, #55ffa6 30px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 25px, #003dff 25px, #003dff 35px, #55ffa6 35px, #55ffa6 40px, #003dff 40px, #003dff 50px, #55ffa6 50px, #55ffa6 90px, #003dff 90px, #003dff 95px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 30px, #003dff 30px, #003dff 40px, #55ffa6 40px, #55ffa6 45px, #003dff 45px, #003dff 55px, #55ffa6 55px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 60px, #003dff 60px, #003dff 70px, #55ffa6 70px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 30px, #003dff 30px, #003dff 85px, #55ffa6 85px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 55px, #003dff 55px, #003dff 65px, #55ffa6 65px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 10px, #55ffa6 10px, #55ffa6 45px, #003dff 45px, #003dff 55px, #55ffa6 55px, #55ffa6 95px, #003dff 95px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 15px, #55ffa6 15px, #55ffa6 40px, #003dff 40px, #003dff 50px, #55ffa6 50px, #55ffa6 90px, #003dff 90px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, #000000 0%, #000000 5px, #003dff 5px, #003dff 20px, #55ffa6 20px, #55ffa6 85px, #003dff 85px, #003dff 100px, #000000 100px, #000000 105px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #003dff 10px, #003dff 95px, #000000 95px, #000000 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 105px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 95px, rgba(0, 0, 0, 0) 95px, rgba(0, 0, 0, 0) 105px)
}
.head {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 60px, #000000 60px, #000000 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 105px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 20px, #000000 20px, #000000 25px, rgba(0, 0, 0, 0) 25px, rgba(0, 0, 0, 0) 55px, #000000 55px, #000000 60px, #9d9d9d 60px, #9d9d9d 70px, #000000 70px, #000000 75px, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 25px, #000000 25px, #000000 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 50px, #000000 50px, #000000 55px, #9d9d9d 55px, #9d9d9d 70px, #000000 70px, #000000 75px, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 30px, #000000 30px, #000000 35px, #000000 35px, #000000 50px, #9d9d9d 50px, #9d9d9d 70px, #000000 70px, #000000 75px, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 70px, #000000 70px, #000000 75px, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 75px, #000000 75px, #000000 80px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 20px, #ffffff 20px, #ffffff 25px, #000000 25px, #000000 30px, #9d9d9d 30px, #9d9d9d 55px, #ffffff 55px, #ffffff 60px, #000000 60px, #000000 65px, #9d9d9d 65px, #9d9d9d 75px, #000000 75px, #000000 80px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 20px, #000000 20px, #000000 30px, #9d9d9d 30px, #9d9d9d 45px, #000000 45px, #000000 50px, #9d9d9d 50px, #9d9d9d 55px, #000000 55px, #000000 65px, #9d9d9d 65px, #9d9d9d 75px, #000000 75px, #000000 80px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 10px, #ff9593 10px, #ff9593 20px, #9d9d9d 20px, #9d9d9d 65px, #ff9593 65px, #ff9593 75px, #000000 75px, #000000 80px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 10px, #ff9593 10px, #ff9593 20px, #9d9d9d 20px, #9d9d9d 25px, #000000 25px, #000000 30px, #9d9d9d 30px, #9d9d9d 40px, #000000 40px, #000000 45px, #9d9d9d 45px, #9d9d9d 55px, #000000 55px, #000000 60px, #9d9d9d 60px, #9d9d9d 65px, #ff9593 65px, #ff9593 75px, #000000 75px, #000000 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 25px, #000000 25px, #000000 60px, #9d9d9d 60px, #9d9d9d 70px, #000000 70px, #000000 75px, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 15px, #9d9d9d 15px, #9d9d9d 65px, #000000 65px, #000000 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 15px, #000000 15px, #000000 65px, rgba(0, 0, 0, 0) 65px, rgba(0, 0, 0, 0) 80px)
}

.rainbow > span {
  background-image: linear-gradient(to right, #003dff 0%, #003dff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, #003dff 0%, #003dff 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, #003dff 0%, #003dff 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, #003dff 50%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 100%), linear-gradient(to right, #003dff 0%, #003dff 50%, #55ffa6 50%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 100%), linear-gradient(to right, #55ffa6 0%, #55ffa6 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%)
}

.feet {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 25px, rgba(0, 0, 0, 0) 25px, rgba(0, 0, 0, 0) 120px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 20px, #000000 20px, #000000 35px, #9d9d9d 35px, #9d9d9d 40px, #000000 40px, #000000 80px, #9d9d9d 80px, #9d9d9d 110px, #000000 110px, #000000 115px, rgba(0, 0, 0, 0) 115px, rgba(0, 0, 0, 0) 120px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 15px, #000000 15px, #000000 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 25px, #000000 25px, #000000 30px, #9d9d9d 30px, #9d9d9d 40px, #000000 40px, #000000 45px, rgba(0, 0, 0, 0) 45px, rgba(0, 0, 0, 0) 75px, #000000 75px, #000000 80px, #9d9d9d 80px, #9d9d9d 90px, #000000 90px, #000000 95px, rgba(0, 0, 0, 0) 95px, rgba(0, 0, 0, 0) 100px, #000000 100px, #000000 105px, #9d9d9d 105px, #9d9d9d 115px, #000000 115px, #000000 120px), linear-gradient(to right, #000000 0%, #000000 15px, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 0) 30px, #000000 30px, #000000 45px, rgba(0, 0, 0, 0) 45px, rgba(0, 0, 0, 0) 80px, #000000 80px, #000000 95px, rgba(0, 0, 0, 0) 95px, rgba(0, 0, 0, 0) 105px, #000000 105px, #000000 120px)
}

.tail > span {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 15px, rgba(0, 0, 0, 0) 15px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 15px, #000000 15px, #000000 20px, rgba(0, 0, 0, 0) 20px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 15px, #000000 15px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 20px, #9d9d9d 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 15px, #000000 15px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 20px, rgba(0, 0, 0, 0) 20px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 15px, #000000 15px), linear-gradient(to right, #000000 0%, #000000 10px, #9d9d9d 10px, #9d9d9d 25px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 20px, #9d9d9d 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20px, #000000 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20px, #000000 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 20px, #000000 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20px, #000000 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 15px, #000000 15px, #000000 20px, #9d9d9d 20px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10px, #000000 10px, #000000 15px, #9d9d9d 15px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 10px, #9d9d9d 10px, #9d9d9d 20px, #000000 20px), linear-gradient(to right, #000000 0%, #000000 5px, #9d9d9d 5px, #9d9d9d 15px, #000000 15px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, #000000 5px, #000000 15px, rgba(0, 0, 0, 0) 15px)
}

.star > span {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12px, #ffffff 12px, #ffffff 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12px, #ffffff 12px, #ffffff 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4px, #ffffff 4px, #ffffff 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 20px, #ffffff 20px, #ffffff 24px, rgba(0, 0, 0, 0) 24px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4px, #ffffff 4px, #ffffff 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 20px, #ffffff 20px, #ffffff 24px, rgba(0, 0, 0, 0) 24px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, #ffffff 0%, #ffffff 4px, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0) 24px, #ffffff 24px, #ffffff 28px, rgba(0, 0, 0, 0) 28px, rgba(0, 0, 0, 0) 32px, #ffffff 32px, #ffffff 36px, rgba(0, 0, 0, 0) 36px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 48px, #ffffff 48px, #ffffff 52px, rgba(0, 0, 0, 0) 52px, rgba(0, 0, 0, 0) 60px, #ffffff 60px, #ffffff 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 72px, #ffffff 72px, #ffffff 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 96px, #ffffff 96px, #ffffff 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, #ffffff 0%, #ffffff 4px, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0) 24px, #ffffff 24px, #ffffff 28px, rgba(0, 0, 0, 0) 28px, rgba(0, 0, 0, 0) 32px, #ffffff 32px, #ffffff 36px, rgba(0, 0, 0, 0) 36px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 48px, #ffffff 48px, #ffffff 52px, rgba(0, 0, 0, 0) 52px, rgba(0, 0, 0, 0) 60px, #ffffff 60px, #ffffff 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 72px, #ffffff 72px, #ffffff 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 96px, #ffffff 96px, #ffffff 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4px, #ffffff 4px, #ffffff 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 20px, #ffffff 20px, #ffffff 24px, rgba(0, 0, 0, 0) 24px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4px, #ffffff 4px, #ffffff 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 20px, #ffffff 20px, #ffffff 24px, rgba(0, 0, 0, 0) 24px, rgba(0, 0, 0, 0) 40px, #ffffff 40px, #ffffff 44px, rgba(0, 0, 0, 0) 44px, rgba(0, 0, 0, 0) 68px, #ffffff 68px, #ffffff 72px, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12px, #ffffff 12px, #ffffff 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 112px), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12px, #ffffff 12px, #ffffff 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 112px)
}

@keyframes rainbow {
  0% {
    top: 0;
  }
  50% {
    top: 0;
  }
  100% {
    top: -65px;
  }
}

@keyframes moveleft {
  0% {
    left: 0;
  }
  100% {
    left: -400px;
  }
}

@keyframes star {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  49.99% {
    left: 0;
  }
  50% {
    left: -28px;
  }
  74.99% {
    left: -28px;
  }
  75% {
    left: -56px;
  }
  99.99% {
    left: -56px;
  }
  100% {
    left: -84px;
  }
}

@keyframes nyan {
  0% {
    margin-top: -50px;
  }
  10% {
    margin-top: -50px;
  }
  80% {
    margin-top: -53px;
  }
  100% {
    margin-top: -50px;
  }
}

@keyframes feet {
  0% {
    left: 20px;
  }
  100% {
    left: 30px;
  }
}

@keyframes head {
  0% {
    top: 25px;
    left: 85px;
  }
  24.99% {
    top: 25px;
    left: 85px;
  }
  25% {
    top: 22px;
    left: 88px;
  }
  49.99% {
    top: 22px;
    left: 88px;
  }
  50% {
    top: 22px;
    left: 85px;
  }
  74.99% {
    top: 22px;
    left: 85px;
  }
  75% {
    top: 22px;
    left: 82px;
  }
  99.99% {
    top: 22px;
    left: 82px;
  }
  100% {
    top: 25px;
    left: 85px;
  }
}

@keyframes tail {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  49.99% {
    top: 0;
  }
  50% {
    top: -30px;
  }
  74.99% {
    top: -30px;
  }
  75% {
    top: -60px;
  }
  99.99% {
    top: -60px;
  }
  100% {
    top: -90px;
  }
}
